page-timer {
    .login {
        background: url(../../assets/img/cooking-2132874_1920.jpg);
        background-repeat: no-repeat;
        background-size:100%;
        background-position: center;
        position: relative;
    }
}
