page-chronometer {
.timer-style{
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
    margin-top: 30%; 
    margin-bottom: 30%;    
}

.yourCssClassName {
    background: #00FF22;
}
}
